{%- extends "base.html" -%}
{%- block title -%}
Event Page
{%- endblock title -%}

{%- block headcontent -%}
{%- endblock headcontent -%}

{%- block navbar -%}
{%- include "nav.html" -%}
{%- endblock -%}

{%- block bodycontent -%}
<div id="wrapper">
    <div id="event-outter-wrapper">
        <div id="event-inner-wrapper">
            <h1>Event</h1>
            <br/>
            <h2>{{eventId}}<h2>
        </div>
    </div>
</div>
{%- endblock bodycontent -%}

{%- block scripts -%}
{%- endblock scripts -%}
