{%- extends "base.html" -%}
{%- block title -%}
My Events Page
{%- endblock title -%}

{%- block headcontent -%}
{%- endblock headcontent -%}

{%- block navbar -%}
{%- include "nav.html" -%}
{%- endblock -%}

{%- block bodycontent -%}
<div id="wrapper">
    <div class="events-wrapper col-md-3">
        <div class="list-title">Organized List</div>
        <div id="organize-list">
        </div>
    </div>
    <div class="events-wrapper col-md-3">
        <div class="list-title">Following List</div>
        <div id="follow-list">
        </div>
    </div>
    <div id="main-wrapper" class="col-md-6 pull-right">
        <div id="map-wrapper">
            <div id="map-canvas"></div>
        </div>
    </div>
</div>
{%- endblock bodycontent -%}

{%- block scripts -%}
<script src="{{ url_for('static', filename='js/myevents.js') }}"></script>
{%- endblock scripts -%}
