{%- extends "base.html" -%}
{%- block title -%} Signup {%- endblock title -%}
{%- block headcontent -%} {%- endblock headcontent -%}
{%- block bodycontent -%}
<div id="header" class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">Gogether</a>
	</div>
    <nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
			<li>
				<a href="/login">
					<span>Log In<span>
				</a>
			</li>
		</ul>
    </nav>
</div>
<div id="wrapper">
	<div class="log-in-sign-up-wrapper">
		<div class="log-in-sign-up-form-group">
			<h1>Welcome to Gogether!</h1>
			<br/>
			<form>
				<div class="form-group">
					<label for="sign-up-username">Username</label>
					<input type="text" class="form-control" id="sign-up-username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="sign-up-password">Password</label>
					<input type="password" class="form-control" id="sign-up-password" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="sign-up-re-password">Re-enter Password</label>
					<input type="password" class="form-control" id="sign-up-re-password" placeholder="Password">
				</div>
				<div class="form-group">
                    <h2>A little about yourself</h2>
                    <textarea name="description" id="description" class="form-control"></textarea>
                </div>
			</form>
			<div class="form-group pull-right">
				<button class="btn btn-success" id="sign-up-button">Sign Up</button>
			</div>
		</div>
	</div>
</div>
</div>
{%- endblock bodycontent -%}
{%- block scripts -%}
<script src="{{ url_for('static', filename='js/signup.js') }}"></script>
{%- endblock scripts -%}
