<div id="socialbar-container-desktop" class="no-select">
    <ul id="socialbar-desktop">
        <!-- <li class="facebook-share">
            <a href="#" onclick="shareOnFacebook()" class="social-button"><i class="fa fa-facebook fa-lg"></i></a>
        </li>
        --><li class="twitter-share">
            <a href="#" onclick="shareOnTwitter()" class="social-button"><i class="fa fa-twitter fa-lg"></i></a>
        </li><!--
        --><li class="pinterest-share">
            <a href="#" onclick="shareOnPinterest()" class="social-button"><i class="fa fa-pinterest fa-lg"></i></a>
        </li><!--
        --><li class="email-share">
            <a href="#" onclick="shareOnEmail()" class="social-button"><i class="fa fa-envelope-o fa-lg"></i></a>
        </li><!--
        --><li class="tumblr-share">
            <a href="#" onclick="shareOnTumblr()" class="social-button"><i class="fa fa-tumblr fa-lg"></i></a>
        </li><!--
        --><li class="reddit-share">
            <a href="#" onclick="shareOnReddit()" class="social-button"><i class="fa fa-reddit fa-lg"></i></a>
        </li>
    </ul>
</div>
